node_modules/
/website/translated_docs
/website/build/
/website/.docusaurus/
/website/yarn.lock
/website/i18n/*

# rucio repo for generating API docs
/rucio

# generated API docs
/docs/rucio_client_api.md
/docs/rucio_rest_api.md
/docs/bin
/docs/bin.md
/docs/release-notes.md
