# -*- mode: gitignore; -*-
node_modules/
/website/translated_docs
/website/build/
/website/.docusaurus/
/website/yarn.lock
/website/i18n/*

# rucio repo for generating API docs
/rucio

# generated API docs
/docs/rucio_client_api.md
/docs/rucio_rest_api.md
/docs/bin
/docs/bin.md
/docs/release-notes.md

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data