# -*- mode: gitignore; -*-
/website/.docusaurus/

# Exclude specific directories in /docs/
/docs/bin
/docs/release-notes/

# Exclude all directories in /tools/run_in_docker/
/tools/run_in_docker/*/
# And specifically also /tools/run_in_docker/rucio in case it is a symlink instead of a dir
/tools/run_in_docker/rucio

# Exclude everything in /tools/auto_generated/
/tools/auto_generated/*

# Exclude everything in specified directories in /website/static/
/website/static/html/*
/website/static/yaml/*

# Exclude node_modules
/tools/openapi_examples/node_modules
/website/node_modules/

/docs/release-notes.md
*.lock

# emacs
*~
\#*\#
/.emacs.desktop
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

__pycache__

# JetBrains project params
.idea/

# Mac OS X Finder
**/.DS_Store
