repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-json
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.6.4
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]
- repo: https://github.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    args: ["--config", "tools/.flake8"]
- repo: local
  hooks:
  - id: check-markdown
    name: Check the markdown files for inconsistencies.
    entry: ./check-docs.sh
    language: system
    files: ".md"
  - id: check-file-names
    name: Check the file names for inconsistencies.
    entry: ./check-file-names.sh
    language: system
