ci:
    skip: [shellcheck, check-markdown, check-file-names]  # Standalone checks in the CI
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: ^website/
  - id: trailing-whitespace
  - id: check-json
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck
    args: ["--severity=warning"]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args: ["--config", "tools/.flake8"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.9.0
  hooks:
  - id: mypy
    additional_dependencies: ['types-requests==2.27.*']
- repo: local
  hooks:
  - id: check-markdown
    name: Check the markdown files for inconsistencies.
    entry: ./tools/check-docs.sh
    language: system
    files: ".md"
  - id: check-file-names
    name: Check the file names for inconsistencies.
    entry: ./tools/check-file-names.sh
    language: system
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
