---
title: Rucio Executables
---

Client-side tools include [rucio](bin/rucio.md) and [rucio-admin](bin/rucio-admin.md).

## List of all executables

{% for file in index("bin") | sort(attribute="stem") -%}
- [{{ file.stem }}]({{ file.path }})
{% endfor %}
