---
title: Release Notes
sidebar_label: Release Notes
---

We list the release notes in reverse chronological order, with the newest
release first.

{% for key, value in index().items()  %}

## {{ get_release_title(key) }}
{% for version in value -%}
- [{{version}}]({{get_release_link(version)}})
{% endfor -%}
{% endfor %}
