---
title: Release Notes
sidebar_label: Release Notes
---

Below listed are all the release notes from the very first release
uptil the latest one:

{% for group, items in index("release-notes") | dictsort(reverse = True) %}
## {{ group }}

{% for item in items
  | sort(
    reverse = True,
    attribute = "major_version_number,minor_version_number,patch_version_number,post_version_sort,stem"
  ) -%}
- [{{ item['stem'] }}]({{item['path']}})
{% endfor -%}

{% endfor %}
