name: Update Documentation

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 4 * * 1-5'

jobs:
  build:
    uses: ./.github/workflows/_build_docs.yaml
    secrets: inherit

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: website/build
      - name: Push to Github Pages
        run: ./publish.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
